.header, .header__menu, .menu {
    background-color: white;
}

.header {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.header__content {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 70px;
}
.header__link {
    justify-self: left;
    margin-left: 0px;
}

.header__eng {
    justify-self: left;
    background-color: white;
}

.header__select {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.header__menu-button {
    justify-self: left;
}
